name: t3-prometheus-client CI

on:
  push:
  pull_request:
  schedule:
    - cron:  '56 5 * * *'

jobs:
  testsuite:
    name: Run tests for extension
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php: [ '8.2', '8.3', '8.4' ]
        TYPO3: [ '12' ]
        include:
          - TYPO3: '12'
            php: '8.2'
          - TYPO3: '12'
            php: '8.3'
          - TYPO3: '12'
            php: '8.4'
          - TYPO3: '13'
            php: '8.2'
          - TYPO3: '13'
            php: '8.3'
          - TYPO3: '13'
            php: '8.4'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install testing system
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s composerInstall

      - name: Validate composer.json
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s composerValidate

      - name: Lint PHP
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s lint

      - name: phpstan checks
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s phpstan

      - name: Unit Tests
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s unit

      - name: Functional Tests
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s functional

  testdocs:
    name: Render documentation
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test if the documentation will render without warnings
        run: |
          mkdir -p Documentation-GENERATED-temp \
          && docker run --rm --pull always -v $(pwd):/project \
              ghcr.io/typo3-documentation/render-guides:latest --config=Documentation --no-progress --minimal-test

  publish_to_ter:
    runs-on: ubuntu-latest
    name: Publish Extension to TER
    needs: [testsuite,testdocs]
    if: startsWith(github.ref, 'refs/tags/')
    env:
      TYPO3_API_TOKEN: ${{ secrets.TYPO3_API_TOKEN }}
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      -
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: intl, mbstring, json, zip, curl
          tools: composer:v2
      -
        name: Install typo3/tailor
        run: composer global require typo3/tailor --prefer-dist --no-progress
      -
        name: Publish EXT:t3_prometheus_client to TER
        run: |
          export RELEASE_VERSION=${GITHUB_REF/refs\/tags\//}
          export TER_COMMENT=$(git tag -n99 -l "$RELEASE_VERSION" | sed "s/^[0-9.]*[ ]*//g")
          if [[ -z "${TER_COMMENT// }" ]]; then
            export TER_COMMENT="Released version $RELEASE_VERSION of EXT:t3_prometheus_client"
          fi
          echo "Following message will be printed in TER as release description:"
          echo -e "$TER_COMMENT"
          php ~/.composer/vendor/bin/tailor ter:publish --comment "$TER_COMMENT" "$RELEASE_VERSION"